@charset "utf8";
$color:#fff;
$h_color:#999;
$b_color:#eee;
$color3:#333;
$color6:#666;
$color0:#000;
$border:1px solid $b_color;
$bt_bor:3px solid $color0;
$nav_fs:20px;
$nav_fw:bolder;
$width:1190px;