@charset "utf8";
@import'./comm.scss';
header{
    height:40px;
    box-sizing:border-box;
    background: $color3;
    display:flex;
    justify-content:space-between;
    ul{
        
        li{
            float: left;
            margin-left:20px;
            position:relative;
            a{
             line-height:40px;
             color:$color; 
          }
          .sub-nav{
              display: none;
              position:absolute;
              margin-top:4px;
              border:$border; 
              background: $color;
              z-index:999;
          }
          &:hover{
              &>a{
                  color:$h_color;
              }
              .sub-nav{
                  display: block;
              }
          }
        }
    }
  
    .left-header{
        margin-left:145px;
          .border-img{
              padding:10px;
              text-align: center;
              left:50%;
              span{
                  color:$color3;
                }
            }
            .concern .border-img{
                margin-left: -71px;
            }
            .downLoad .border-img{
                margin-left:-64px;
            }
    }
    .right-header{
        margin-right:92px;
        .user-item{
           display: flex;
           .user-content{
               a:hover{
                   color:$h_color;
               }
           }
            .slash{
                display: block;
                line-height: 40px;
                padding:0 10px;
            }
        }
         .icon-item{
                 .icon{
                    display: inline-block;
                    padding-right:5px;
                    width:12px;
                    height: 11px;
                     background: url(../image/css_sprites.png) -78px -174px no-repeat;
                     vertical-align: middle;
                    
                     &.icon-shop{
                         background-position: -10px -200px;
                     }
                 }
                     &:hover{
                         .icon-collect{                        background-position: -110px -174px;
    
                         }
                         .icon-shop{
                            background-position: -177px -83px;
    
                         }
                     }
         }
        .affiche{
            right:0;
            padding:15px 15px 30px 20px;
            border:$border;
            li{
                 width:180px;
                 height: 20px;
                 padding-bottom: 8px;
                 border-bottom:$border;
                 a{
                     line-height: 20px;
                     color:$h_color;
                 }
              &.item1{
                  padding-top:10px;
              }   
            }
        }
    }
}

footer{
    background: $color3;
    color:$color;
    a{
        color:$color;
    }

    .promise-list,.help-container,.friendly-link,.copyright{
        width: $width;
        margin:0 auto;
    }
    .feature-container{
        border-bottom:1px solid $color6;
        .promise-list{
            padding:47px 0;
            display:flex;
            li{
                font-size:18px;
                &.item{
                    margin-left:50px;
                } 
                .icon{
                    display: inline-block;
                    margin-right:10px;
                    width:27px;
                    height:30px;
                    background: url(../image/css_sprites.png) -10px -10px no-repeat ;
                    vertical-align:middle;
                    &.icon-exchange{
                        background-position: -57px -57px;
                    }
                    &.icon-spread{
                        background-position: -10px -57px;
                    }
                    &.icon-service{
                        background-position: -57px -10px;
                    }
                }
            }
        }
    }
    .guid-container{
        display:flex;
        dl{
            margin-right:90px;
            dt{
                padding:25px 0;
            }
            dd{
                padding-bottom:20px;
                a{
                    color:$color6;
                    &:hover{
                        color:$color;
                    }
                }
            }
        }
    }
    .national-certification{
        display:flex;
        .content,.qr-code{
            display: flex;
        }
        .content{
            margin-top:160px;
            li{
                margin-right:10px;
                img{
                    display: inline-block;
                    width:124px;
                    height:47px;
                }
            }
        }
        .qr-code{
            padding-left: 152px;
            padding-top:56px;
            text-align: center;     
            .code-img-right{
                  margin-left:54px;
            }
            .border{
                display: flex;
                justify-content: center;
                align-items:center;
                margin-bottom:12px;
                width: 120px;
                height: 120px;
                background: $color;
            }
        }
    }
    .friendly-link{
       padding:20px 0;
       .content{
        display:flex;
            li{
                color:$color6;
                a{
                    display:inline-block;
                    padding:0 10px;
                    &.title-first{
                        padding-left:0;
                    }
                }
            
            }
       }
    }
    .copyright{
        padding-bottom:30px;
    }
    &.footer1{
        text-align: center;
        background: $color;
        color:$color6;
        a{
            color:#aaa;
        }
    }
}