header {
  height: 40px;
  box-sizing: border-box;
  background: #333;
  display: flex;
  justify-content: space-between;
}

header ul li {
  float: left;
  margin-left: 20px;
  position: relative;
}

header ul li a {
  line-height: 40px;
  color: #fff;
}

header ul li .sub-nav {
  display: none;
  position: absolute;
  margin-top: 4px;
  border: 1px solid #eee;
  background: #fff;
  z-index: 999;
}

header ul li:hover > a {
  color: #999;
}

header ul li:hover .sub-nav {
  display: block;
}

header .left-header {
  margin-left: 145px;
}

header .left-header .border-img {
  padding: 10px;
  text-align: center;
  left: 50%;
}

header .left-header .border-img span {
  color: #333;
}

header .left-header .concern .border-img {
  margin-left: -71px;
}

header .left-header .downLoad .border-img {
  margin-left: -64px;
}

header .right-header {
  margin-right: 92px;
}

header .right-header .user-item {
  display: flex;
}

header .right-header .user-item .user-content a:hover {
  color: #999;
}

header .right-header .user-item .slash {
  display: block;
  line-height: 40px;
  padding: 0 10px;
}

header .right-header .icon-item .icon {
  display: inline-block;
  padding-right: 5px;
  width: 12px;
  height: 11px;
  background: url(../image/css_sprites.png) -78px -174px no-repeat;
  vertical-align: middle;
}

header .right-header .icon-item .icon.icon-shop {
  background-position: -10px -200px;
}

header .right-header .icon-item:hover .icon-collect {
  background-position: -110px -174px;
}

header .right-header .icon-item:hover .icon-shop {
  background-position: -177px -83px;
}

header .right-header .affiche {
  right: 0;
  padding: 15px 15px 30px 20px;
  border: 1px solid #eee;
}

header .right-header .affiche li {
  width: 180px;
  height: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}

header .right-header .affiche li a {
  line-height: 20px;
  color: #999;
}

header .right-header .affiche li.item1 {
  padding-top: 10px;
}

footer {
  background: #333;
  color: #fff;
}

footer a {
  color: #fff;
}

footer .promise-list, footer .help-container, footer .friendly-link, footer .copyright {
  width: 1190px;
  margin: 0 auto;
}

footer .feature-container {
  border-bottom: 1px solid #666;
}

footer .feature-container .promise-list {
  padding: 47px 0;
  display: flex;
}

footer .feature-container .promise-list li {
  font-size: 18px;
}

footer .feature-container .promise-list li.item {
  margin-left: 50px;
}

footer .feature-container .promise-list li .icon {
  display: inline-block;
  margin-right: 10px;
  width: 27px;
  height: 30px;
  background: url(../image/css_sprites.png) -10px -10px no-repeat;
  vertical-align: middle;
}

footer .feature-container .promise-list li .icon.icon-exchange {
  background-position: -57px -57px;
}

footer .feature-container .promise-list li .icon.icon-spread {
  background-position: -10px -57px;
}

footer .feature-container .promise-list li .icon.icon-service {
  background-position: -57px -10px;
}

footer .guid-container {
  display: flex;
}

footer .guid-container dl {
  margin-right: 90px;
}

footer .guid-container dl dt {
  padding: 25px 0;
}

footer .guid-container dl dd {
  padding-bottom: 20px;
}

footer .guid-container dl dd a {
  color: #666;
}

footer .guid-container dl dd a:hover {
  color: #fff;
}

footer .national-certification {
  display: flex;
}

footer .national-certification .content, footer .national-certification .qr-code {
  display: flex;
}

footer .national-certification .content {
  margin-top: 160px;
}

footer .national-certification .content li {
  margin-right: 10px;
}

footer .national-certification .content li img {
  display: inline-block;
  width: 124px;
  height: 47px;
}

footer .national-certification .qr-code {
  padding-left: 152px;
  padding-top: 56px;
  text-align: center;
}

footer .national-certification .qr-code .code-img-right {
  margin-left: 54px;
}

footer .national-certification .qr-code .border {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  width: 120px;
  height: 120px;
  background: #fff;
}

footer .friendly-link {
  padding: 20px 0;
}

footer .friendly-link .content {
  display: flex;
}

footer .friendly-link .content li {
  color: #666;
}

footer .friendly-link .content li a {
  display: inline-block;
  padding: 0 10px;
}

footer .friendly-link .content li a.title-first {
  padding-left: 0;
}

footer .copyright {
  padding-bottom: 30px;
}

footer.footer1 {
  text-align: center;
  background: #fff;
  color: #666;
}

footer.footer1 a {
  color: #aaa;
}
