@charset "utf8";
@import './comm.scss';

// log-container start
.log-container{
    background: $color;
    position: relative;
.header-log{
    padding:55px 0;
    margin:0 auto;
    width:98px;
}
.nav-container{
        width:$width;
        height:50px;
        margin:0 auto;
        display:flex;
        justify-content:space-between;
    .nav-list{
       width:930px;
       display:flex;
       li{
           width:80px;
           font-size:$nav_fs;
       }
       .item-first{
           display: none;
           padding:6px 8px 18px 0;
           img{
               width: 60px;
               height: 38px;
           }
       }
       .item{
           padding:15px;
           a{
               color:$color3;
               font-weight:$nav_fw;
               &:hover{
                   text-decoration:underline;
               }
           }
       }
    }

    .nav-search-wrap{
        margin:15px 0 0 80px;
        width:180px;
        height: 25px;
        .nav-search{
            width:100%;
            height: 100%;
            box-sizing:border-box;
            border-bottom:1px solid $color3;
            .search-box{
                padding: 0;
                width: 160px;
                border: 0;
                outline: 0;
                font-size: 12px;
                height: 20px;
            }
            .icon{
                cursor:pointer;
                display: inline-block;
                width: 15px;
                height: 16px;
                background: url(../image/css_sprites.png) -177px -10px no-repeat;
            }
            .search-list{
                display: none;
                position:absolute;
                top:216px;
                width:180px;
                background: $color;
                border:1px solid $color3;
                box-shadow:0 0 2px $color3;
                li{
                    cursor:pointer;
                    line-height:24px;
                    padding:0 10px;
                    &.item{
                        display:flex;
                        justify-content:space-between;
                        .search-item{
                            width: 70px;
                            white-space:nowrap;
                            text-overflow:ellipsis;
                            overflow:hidden;
                        }
                    }
                    &.close{
                        border-top:$border;
                        text-align:right;
                    }
                }
            }
        }
    }
}
.sub-nav-wrap{
    display: none;
    position:absolute;
    top:222px;
    padding:30px 0 70px 0;
    width:100%;
    background: $color;
    border-bottom:$bt_bor;
    .sub-nav-list{
        width:$width;
        margin:0 auto;
        display: flex;
        dl{
            margin:0 70px;
            &:first-of-type{
                 margin:0 70px 0 0;
            }
            dt{
                padding-bottom:13px;
                a{
                    font-size:16px;
                    color:$color3;
                    font-weight:$nav_fw;
                }
            }
            dd{
                 margin-top:12px;
                 width:60px;
                a{
                    color:$color6;
                }
            }
        }
    }
}
.line{
    border-bottom:$border;
}

// 导航条的滚轮高小于0时固定定位
&.nav-fixed{
    position:fixed;
    top:0;
    left:0;
    right:0;
    .line{
        border-bottom:$bt_bor;
    }
    .header-log{
        display: none;
    }   
    .nav-list {
        .item-first{
        display: block;
        }  
        .item{
            padding:9px;
        } 
    }
 }
    

}
// log-container end

// banner start

.banner{
    width:100%;
    height:550px;
    overflow: hidden;
    position: relative;
    .pic-list{
        width:4000px;
        height: 100%;
        display: flex;

        .pic-item{
            width: 1263px;
            height: 100%;
            a{
                display:block;
                height:100%;
                background: url(../image/ban3.jpg) center center no-repeat;
            }
           &:last-of-type a{
               background-image: url(../image/ban4.jpg);
           }
        }
    }
    .arrows-wrap{
         position:absolute;
         top:50%;
         margin-top:-20px;
         padding: 0 20px;
         width:100%;
         box-sizing: border-box;
         cursor:pointer;
         .arrows{
               opacity:0;
               padding:8px 5px;
               background: rgba(0,0,0,.1);
               border-radius: 2px;
             i{
                 display: block;
                 width:13px;
                 height:25px;
                 background-image: url(../image/css_sprites.png);
             }

             &:hover{
                opacity: 1;
             }
         }
         .arrow-l{
             float: left;
             i{
                 background-position: -104px -57px;
             }
         }
         .arrow-r{
             float: right;
             i{
                 background-position: -105px -11px;
             }
         }
       
    }
    .circle-list{
        position: absolute;
        bottom:20px;
        right:5%;
        display: flex;
           li{
               width:20px;
               height: 6px;
               margin-left:6px;
               background: rgba(0,0,0,.7);
               &.active{
                background: $b_color;
                width:31px;
                opacity:0.4;
               }
           }
    }
}

//banner end

.yg-command{
    text-align:center;
    .command-title{
        margin:66px 0 30px;
        color:$color3;
        h1{
            height:63px;
            font-size:42px;
        }
        .tabs{
            margin:25px 0 40px;
            display: flex;
            justify-content:center;
            .tabs-item{
                padding:0 10px;
                font-size:16px;
                cursor:pointer;
                &.active{
                    text-decoration:underline;
                }
            }
        }   
    }
}
.swiper-item{
    padding:10px;
    width:210px;
    text-align: center;
    .goods-img{
        background:$color;
        a{
            display:inline-block;
            margin:30px 0;
            width:210px;
            height:210px;
            img{
                height: 100%;
                width:100%;
            }
        }
    }
    .brand-img{
        margin-top:15px;
        width:54px;
        height:24px;
    }
    p{
        margin-top:10px;
        // overflow: hidden;
        // white-space:nowrap;
        // text-overflow:ellipsis;
        a{
            color:$color6;
        }
    }
    .price-wrap{
        margin:15px 0  10px;
        position: relative;
        font-weight:$nav_fw;
      font-size:16px;
      color:$color3;
       .colloct{
           display: none;
           position: absolute;
           top:5px;
           right:8px;
           width: 15px;
           height:15px;
           background: url(../image/css_sprites.png) -38px -243px;
       }
    }
    &:hover{
        background: #f6f6f6;
        .colloct{
            display: block;
        }
    }
}
// 新品推荐
.new-products{
          .command-contant{
              margin:0 auto;
              position: relative;
              width:$width;
              height:415px;
              box-sizing:border-box;
              .swiper-container{
                  width:920px;
                  margin:0 auto;
                  overflow: hidden;
                  .swiper-item-wrap{
                      width:920*3px;
                      display:flex;
                    //   .swiper-item{
                    //       padding:10px;
                    //       width:210px;
                    //       .goods-img{
                    //           background:$color;
                    //           a{
                    //               display:inline-block;
                    //               margin:30px 0;
                    //               width:210px;
                    //               height:210px;
                    //               img{
                    //                   height: 100%;
                    //                   width:100%;
                    //               }
                    //           }
                    //       }
                    //       .brand-img{
                    //           margin-top:15px;
                    //           width:54px;
                    //           height:24px;
                    //       }
                    //       p{
                    //           margin-top:10px;
                    //           overflow: hidden;
                    //           white-space:nowrap;
                    //           text-overflow:ellipsis;
                    //           a{
                    //               color:$color6;
                    //           }
                    //       }
                    //       .price-wrap{
                    //           margin:15px 0  10px;
                    //           position: relative;
                    //           font-weight:$nav_fw;
                    //         font-size:16px;
                    //         color:$color3;
                    //          .colloct{
                    //              display: none;
                    //              position: absolute;
                    //              top:5px;
                    //              right:8px;
                    //              width: 15px;
                    //              height:15px;
                    //              background: url(../image/css_sprites.png) -38px -243px;
                    //          }
                    //       }
                    //       &:hover{
                    //           background: #f6f6f6;
                    //           .colloct{
                    //               display: block;
                    //           }
                    //       }
                    //   }
                  }
              }
              //左右箭头
              .arrows{
                  width:$width;
              }

          }
}

//今日主推大牌
.brands{
     .command-contant{
        padding-top:60px;
        .brand-pictures{
            a{
               color:$color;
                span{
                    line-height: 402px;
                }
                
            }
        }

     }
        .swiper-wrap{
            padding:66px 0;
            width:100%;
            position: relative;
            .swiper-container{
                width:920px;
                margin:0 auto;
                overflow:hidden;
                .swiper-item-wrap{
                    width:990*2px;
                    display: flex;
                    .swiper-item{
                        margin:0 12px;
                        display:inline-block;
                        width:68px ;
                        height:31px;
                        img{
                            width:100%;
                            height:100%;
                        }
                    }
                }
            }
             //左右箭头
             .arrows{
                width: 100%;
              }

        }

        
}



.new-products,.brands{
     //左右箭头
     .arrows{
        position:absolute;
        top:50%;
        margin-top:-20px;
        display: flex;
        justify-content:space-between;
        cursor: pointer;
        div{
            width: 13px;
            height: 26px;
            &.arrow-l{
                background: url(../image/css_sprites.png) -104px -56px;
            }
            &.arrow-r{
                background: url(../image/css_sprites.png) -105px -11px;
            }
        }
      }
}

.brand-fashion{
    .command-title{
        h3{
            font-size:24px;
        }
    }
    .brand-pictures1{
       margin:10px 0 40px;
    }
    .brand-pictures2{
        margin-bottom:110px; 
        a{
           color:$color;
           font-size:14px;
            span{
                line-height: 250px;
            }
            
        }
    }
    .map-img{
        area{
            border:0;
            outline:0;
        }
    }
}

.brands,.brand-fashion{
    .command-contant{
        margin:0 auto;
        width:$w9;
        .brand-pictures{
            display: flex;
            justify-content:space-around;
            li{
                a{
                    display:inline-block;
                    position: relative;
                    &>img{
                        vertical-align:middle;
                    }
                    span{
                        display: inline-block;
                        position: absolute;
                        top:0;
                        left:0;
                        width:100%;
                        height:100%;
                        // line-height:402px;
                        background: rgba(0,0,0,.8);
                       &.hide{
                           opacity:0;
                       }
                       img{
                           width:110px;
                           height: 50px;
                       }
                    }
                }
                &:hover{
                      span.show{
                          opacity: 0.8;
                      }
                }
            }
        }
    }
}
