.clearfix:after {
  content: '';
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.title-wrap {
  margin: 0 auto;
  width: 990px;
  padding: 13px 0;
  display: flex;
}

.title-wrap .logo-img {
  padding: 5px 30px 5px 0;
  margin-right: 30px;
  border-right: 1px solid #e6e6e6;
}

.title-wrap .logo-img img {
  vertical-align: middle;
}

.title-wrap .title {
  font: 18px/42px normal;
}

.res-log-contant {
  width: 100%;
  height: 553px;
  position: relative;
}

.res-log-contant .bg-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../image/img01.jpg) center no-repeat;
  z-index: 0;
}

.res-log-contant .form-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 115px;
  background: #fff;
  width: 378px;
  height: 530px;
  margin-top: 12px;
  box-sizing: border-box;
}

.res-log-contant .form-wrap .log-tabs, .res-log-contant .form-wrap .reg-tabs {
  margin: 24px 15px 0 15px;
  display: flex;
}

.res-log-contant .form-wrap .log-tabs li, .res-log-contant .form-wrap .reg-tabs li {
  height: 40px;
  line-height: 40px;
  background: #f3f3f3;
  text-align: center;
}

.res-log-contant .form-wrap .log-tabs li a, .res-log-contant .form-wrap .reg-tabs li a {
  color: #333;
}

.res-log-contant .form-wrap .log-tabs li a:hover, .res-log-contant .form-wrap .reg-tabs li a:hover {
  color: #666;
}

.res-log-contant .form-wrap .log-tabs li.active, .res-log-contant .form-wrap .reg-tabs li.active {
  background: #333;
}

.res-log-contant .form-wrap .log-tabs li.active a, .res-log-contant .form-wrap .reg-tabs li.active a {
  color: #fff;
}

.res-log-contant .form-wrap .reg-tabs {
  justify-content: center;
  border-bottom: 1px solid #f3f3f3;
}

.res-log-contant .form-wrap .reg-tabs li.reg-item {
  width: 123px;
}

.res-log-contant .form-wrap .reg-tabs li.tab-item1 {
  margin-right: 5px;
}

.res-log-contant .form-wrap .log-tabs .log-item {
  width: 174px;
}

.res-log-contant .form-wrap .form-container {
  padding-top: 30px;
  padding-left: 10px;
  margin: 0 15px;
}

.res-log-contant .form-wrap .form-container .errortips {
  display: none;
  padding-left: 25px;
  background: url(../image/icon_sig_reg.png) -180px -95px no-repeat;
}

.res-log-contant .form-wrap .form-container input, .res-log-contant .form-wrap .form-container button {
  font-size: 12px;
}

.res-log-contant .form-wrap .form-container .reg-list {
  padding-left: 8px;
  position: relative;
  color: #333;
}

.res-log-contant .form-wrap .form-container .reg-list dd {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.res-log-contant .form-wrap .form-container .reg-list dd .form-group {
  height: 38px;
  border: 1px solid #e3e2e2;
  box-sizing: border-box;
  line-height: 38px;
  display: flex;
  justify-content: space-between;
}

.res-log-contant .form-wrap .form-container .reg-list dd .form-group label {
  display: inline-block;
  margin-left: 10px;
  width: 60px;
}

.res-log-contant .form-wrap .form-container .reg-list dd .form-group input {
  width: 235px;
  border: none;
  outline: none;
}

.res-log-contant .form-wrap .form-container .reg-list dd .form-group.code-wrap {
  width: 200px;
}

.res-log-contant .form-wrap .form-container .reg-list dd .form-group.code-wrap input {
  width: 128px;
}

.res-log-contant .form-wrap .form-container .reg-list dd .form-group.mobile-wrap {
  width: 235px;
}

.res-log-contant .form-wrap .form-container .reg-list dd .form-group.mobile-wrap input {
  width: 155px;
}

.res-log-contant .form-wrap .form-container .reg-list dd .form-group.active {
  border-color: #333;
}

.res-log-contant .form-wrap .form-container .reg-list dd .code-img {
  margin-right: 17px;
  width: 110px;
  height: 40px;
  text-align: center;
  font: 32px/40px bolder;
  color: #193caa;
  text-decoration: line-through;
  text-shadow: 2px 2px 2px #193caa;
  font-style: oblique;
  letter-spacing: 5px;
  cursor: default;
}

.res-log-contant .form-wrap .form-container .reg-list dd .getcode {
  margin-right: 17px;
}

.res-log-contant .form-wrap .form-container .reg-list dd .getcode button {
  width: 73px;
  height: 38px;
  border: none;
  color: #fff;
  background: #333;
  cursor: pointer;
}

.res-log-contant .form-wrap .form-container .reg-list dd .getcode button:hover {
  background: #666;
}

.res-log-contant .form-wrap .form-container .reg-list dt {
  height: 28px;
  width: 100%;
  line-height: 18px;
}

.res-log-contant .form-wrap .form-container .reg-list dt .errortips {
  margin-top: 4px;
}

.res-log-contant .form-wrap .form-container .reg-list dt .righttips {
  display: none;
  position: absolute;
  right: 20px;
  top: 10px;
  width: 30px;
  height: 20px;
  background: url(../image/reg_sprite2.png) -314px 0 no-repeat;
}

.res-log-contant .form-wrap .form-container .reg-list.code-list .righttips {
  right: 128px;
}

.res-log-contant .form-wrap .form-container .reg-list.mobile-list .righttips {
  right: 92px;
}

.res-log-contant .form-wrap .form-container .form-group1 {
  text-align: center;
}

.res-log-contant .form-wrap .form-container .form-group1 a {
  color: #666;
}

.res-log-contant .form-wrap .form-container .form-group1 span {
  color: #333;
}

.res-log-contant .form-wrap .form-container .submit-wrap {
  padding-top: 5px;
  padding-left: 10px;
}

.res-log-contant .form-wrap .form-container .submit-wrap input {
  width: 313px;
  height: 38px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #333;
  color: #fff;
  font-size: 16px;
}

.res-log-contant.log-contant .form-wrap {
  margin-top: 50px;
  height: 450px;
}

.res-log-contant.log-contant .form-wrap .reg-list-wrap {
  display: none;
}

.res-log-contant.log-contant .form-wrap .reg-list-wrap.show {
  display: block;
}

.res-log-contant.log-contant .form-wrap .reg-list-wrap .code-list, .res-log-contant.log-contant .form-wrap .reg-list-wrap .mobile-list {
  display: none;
}

.res-log-contant.log-contant .form-wrap .reg-list-wrap .form-group .icon {
  display: block;
  width: 48px;
  height: 36px;
  background: url(../image/icon_sig_reg.png) -180px -27px no-repeat;
}

.res-log-contant.log-contant .form-wrap .reg-list-wrap .form-group .icon.icon-psw {
  background-position: -180px -61px;
}

.res-log-contant.log-contant .form-wrap .reg-list-wrap .form-group .icon.icon-code {
  background-position: 0 -95px;
}

.res-log-contant.log-contant .form-wrap .cooperation {
  margin: 10px 0 5px;
  color: #999;
  text-align: center;
}

.res-log-contant.log-contant .form-wrap .coop_link {
  display: flex;
  justify-content: center;
  height: 32px;
  line-height: 32px;
  color: #e1e1e1;
}

.res-log-contant.log-contant .form-wrap .coop_link a {
  display: inline-block;
  padding: 18px 16px;
  margin: 0 10px;
  line-height: 54px;
  background: url(../image/icon_sig_reg.png) -36px -20px no-repeat;
}

.res-log-contant.log-contant .form-wrap .coop_link a.coop_zpay {
  background-position: -73px -20px;
}

.res-log-contant.log-contant .form-wrap .coop_link a.coop_qq {
  background-position: -110px -20px;
}

.res-log-contant.log-contant .form-wrap .coop_link a.coop_sina {
  background-position: -37px -57px;
}

.res-log-contant.log-contant .form-wrap .coop_link a.coop_people {
  background-position: -73px -57px;
}
