.shopcar-container {
  width: 990px;
  margin: 0 auto;
}

.shopcar-container a {
  color: #666;
}

.shopcar-container .logo-title-wrap {
  margin-top: 15px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.shopcar-container .logo-title-wrap .logo-img {
  height: 100%;
  width: 355px;
  background: url(../image/logo.jpg) left top no-repeat;
}

.shopcar-container .logo-title-wrap .title-list {
  margin-top: 20px;
  display: flex;
  width: 600px;
  text-align: center;
}

.shopcar-container .logo-title-wrap .title-list li {
  position: relative;
  width: 200px;
  height: 20px;
  line-height: 20px;
  background: #e8e8e8;
}

.shopcar-container .logo-title-wrap .title-list li i {
  position: absolute;
  right: -17px;
  top: 0;
  border: 10px dashed transparent;
  border-left-color: #e8e8e8;
  z-index: 999;
}

.shopcar-container .logo-title-wrap .title-list li em {
  position: absolute;
  right: -22px;
  top: -2px;
  border: 12px dashed transparent;
  border-left-color: #fff;
  z-index: 99;
}

.shopcar-container .logo-title-wrap .title-list li.active {
  background: #333;
  color: #fff;
}

.shopcar-container .logo-title-wrap .title-list li.active i {
  position: absolute;
  right: -17px;
  top: 0;
  border: 10px dashed transparent;
  border-left-color: #333;
  z-index: 999;
}

.shopcar-container .logo-title-wrap .title-list li.active em {
  position: absolute;
  right: -22px;
  top: -2px;
  border: 12px dashed transparent;
  border-left-color: #fff;
  z-index: 99;
}

.shopcar-container .content-wrap {
  margin: 20px 0 15px;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.shopcar-container .content-wrap > div, .shopcar-container .content-wrap .goods-item {
  border-bottom: 1px solid #eee;
  display: flex;
}

.shopcar-container .content-wrap .goods-item:last-of-type {
  border-bottom: none;
}

.shopcar-container .content-wrap .title-list {
  display: flex;
  height: 42px;
  text-align: center;
  line-height: 42px;
  color: #aaa;
}

.shopcar-container .content-wrap .title-list .item {
  width: 110px;
}

.shopcar-container .content-wrap .title-list .item:nth-of-type(1) {
  width: 59px;
}

.shopcar-container .content-wrap .title-list .item:nth-of-type(2) {
  width: 369px;
}

.shopcar-container .content-wrap .title-list .item:nth-of-type(7) {
  width: 120px;
}

.shopcar-container .content-wrap .goods-list {
  width: 100%;
}

.shopcar-container .content-wrap .goods-list .goods-item .single-list {
  padding: 15px 0 15px 5px;
  width: 100%;
  display: flex;
}

.shopcar-container .content-wrap .goods-list .goods-item .single-list li {
  padding-top: 25px;
  width: 110px;
}

.shopcar-container .content-wrap .goods-list .goods-item .single-list li:nth-of-type(1) {
  width: 32px;
  padding: 29px 0 0 8px;
}

.shopcar-container .content-wrap .goods-list .goods-item .single-list li:nth-of-type(2) {
  width: 80px;
  padding: 0;
}

.shopcar-container .content-wrap .goods-list .goods-item .single-list li:nth-of-type(3) {
  padding: 18px 52px 0 20px;
  width: 316px;
}

.shopcar-container .content-wrap .goods-list .goods-item .single-list li:nth-of-type(4) {
  padding-top: 18px;
}

.shopcar-container .content-wrap .goods-list .goods-item .single-list li:nth-of-type(8) {
  padding: 16px;
  width: 120px;
}

.shopcar-container .content-wrap .goods-list .goods-item .single-list li.pd-price, .shopcar-container .content-wrap .goods-list .goods-item .single-list li.pd-count, .shopcar-container .content-wrap .goods-list .goods-item .single-list li.pd-totalPrice, .shopcar-container .content-wrap .goods-list .goods-item .single-list li.pd-handle {
  text-align: center;
}

.shopcar-container .content-wrap .goods-list .goods-item .single-list li.pd-count {
  display: flex;
}

.shopcar-container .content-wrap .goods-list .goods-item .single-list li.pd-count input, .shopcar-container .content-wrap .goods-list .goods-item .single-list li.pd-count a {
  border: 1px solid  #ccc;
}

.shopcar-container .content-wrap .goods-list .goods-item .single-list li.pd-count input {
  width: 28px;
  height: 22px;
  border-left: 0;
  border-right: 0;
}

.shopcar-container .content-wrap .goods-list .goods-item .single-list li.pd-count a {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 20px;
  color: #000;
  font-size: 16px;
}

.shopcar-container .content-wrap .goods-list .goods-item .single-list li.pd-totalPrice {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.shopcar-container .content-wrap .content-del-wrap {
  height: 40px;
  padding-bottom: 20px;
}

.shopcar-container .content-wrap .content-del-wrap > div {
  padding: 10px 37px 0 0;
}

.shopcar-container .content-wrap .content-settlement-wrap {
  justify-content: space-between;
  height: 54px;
  background: #eee;
  text-align: center;
  border-bottom: none;
}

.shopcar-container .content-wrap .content-settlement-wrap a {
  display: inline-block;
  color: #fff;
  background: #333;
}

.shopcar-container .content-wrap .content-settlement-wrap .settlement-l a {
  margin: 15px 0 0 20px;
  height: 21px;
  width: 72px;
  line-height: 21px;
}

.shopcar-container .content-wrap .content-settlement-wrap .settlement-r {
  display: flex;
  line-height: 54px;
}

.shopcar-container .content-wrap .content-settlement-wrap .settlement-r .goods-allPrice {
  margin-right: 50px;
  font-weight: bold;
}

.shopcar-container .content-wrap .content-settlement-wrap .settlement-r .goods-allPrice .allprice {
  font-size: 16px;
}

.shopcar-container .content-wrap .content-settlement-wrap .settlement-r .goods-allPrice .allprice strong {
  font-size: 20px;
  color: #333;
}

.shopcar-container .content-wrap .content-settlement-wrap .settlement-r .settle {
  display: block;
  width: 129px;
  height: 54px;
  font-size: 14px;
}

.shopcar-container .cart_btinfo {
  margin-bottom: 20px;
  text-align: right;
  line-height: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.shopcar-container .cart_btinfo .cart_bz i {
  margin-left: 10px;
  display: inline-block;
  height: 16px;
  width: 18px;
  vertical-align: middle;
  background: url(../image/shopcart-sprite-v4.png) 0 0 no-repeat;
}

.shopcar-container .cart_btinfo .cart_bz i.icon_thh {
  background-position: 0 -18px;
}

.shopcar-container .cart_btinfo .cart_bz i.icon_bcj {
  background-position: 0 -38px;
}
