@charset 'utf8';
@import './comm.scss';

.shopcar-container{
    width:$w9;
    margin:0 auto;
    a{
        color:#666
    }
    .logo-title-wrap{
         margin-top:15px;
         height: 50px;
         display:flex;
         justify-content: space-between;
         .logo-img{
             height: 100%;
             width: 355px;
             background: url(../image/logo.jpg) left top no-repeat;
         }
         .title-list{
             margin-top:20px;
             display: flex;
             width: 600px;
             text-align: center;
             li{
                 position: relative;
                 width: 200px;
                 height: 20px;
                 line-height: 20px;
                 background: #e8e8e8;
                 i{
                     position: absolute;
                     right:-17px;
                     top:0;
                     border:10px dashed transparent;
                     border-left-color:#e8e8e8;
                     z-index: 999;
                 }
                 em{
                    position: absolute;
                    right:-22px;
                    top:-2px;
                    border:12px dashed transparent;
                    border-left-color:#fff;
                    z-index: 99;
                }
                 &.active{
                     background: #333;
                     color:#fff;
                     i{
                        position: absolute;
                        right:-17px;
                        top:0;
                        border:10px dashed transparent;
                        border-left-color:#333;
                        z-index: 999;
                    }
                    em{
                        position: absolute;
                        right:-22px;
                        top:-2px;
                        border:12px dashed transparent;
                        border-left-color:#fff;
                        z-index: 99;
                    }
                 }
             }
         }
    }
    .content-wrap{
        margin:20px 0 15px;
        border:1px solid #eee;
        box-sizing:border-box;
        &>div,.goods-item{
            border-bottom: 1px solid #eee;
            display: flex;
        }
        .goods-item:last-of-type{
            border-bottom: none;
        }
        .title-list{
            display: flex;
            height: 42px;
            text-align: center;
            line-height: 42px;
            color:#aaa;
            .item{
                width: 110px;
                &:nth-of-type(1){
                    width: 59px;
                }
                &:nth-of-type(2){
                    width: 369px;
                }
                &:nth-of-type(7){
                    width: 120px;
                }
            }
        }
        .goods-list{
            width:100%;
           .goods-item{
            .single-list{
                padding:15px 0 15px 5px;
                width: 100%;
                display: flex;
                li{
                    padding-top:25px;
                    width:110px;
                    &:nth-of-type(1){
                        width: 32px;
                        padding:29px 0 0 8px;
                    }
                    &:nth-of-type(2){
                        width: 80px;
                        padding:0;
                    }
                    &:nth-of-type(3){
                        padding:18px 52px 0 20px;
                        width: 316px;
                    }
                    &:nth-of-type(4){
                        padding-top:18px;
                    }
                    &:nth-of-type(8){
                        padding: 16px;
                        width: 120px;
                    }
                    &.pd-price,&.pd-count,&.pd-totalPrice,&.pd-handle{
                        text-align:center;
                    }
                    &.pd-count{
                        display: flex;
                        input,a{
                            border:1px solid  #ccc;
                        }
                        input{
                            width: 28px;
                            height: 22px;
                            border-left:0;
                            border-right:0;
                        }
                        a{
                            display: inline-block;
                            width: 22px;
                            height: 22px;
                            line-height: 20px;
                            color:#000;
                            font-size:16px;
                        }
                    }
                    &.pd-totalPrice{
                         font-size: 14px;
                         color:#333;
                         font-weight: bold;
                    }
                  
                }
            }
           }
        }
        .content-del-wrap{
            height: 40px;
            padding-bottom:20px;
            &>div{
                padding:10px 37px 0 0 ;
            }           
        }
        .content-settlement-wrap{
            justify-content: space-between;
            height: 54px;
            background: #eee;
            text-align: center;
            border-bottom:none ;
            a{
                display: inline-block;
                color:#fff;
                background: #333;
            }
            .settlement-l{
                a{
                    margin:15px 0 0 20px;
                    height: 21px;
                    width: 72px;
                    line-height: 21px;
                }
            }  
            .settlement-r{
                display: flex;
                 line-height: 54px;
                 .goods-allPrice{
                     margin-right:50px;
                     font-weight: bold;
                     .allprice{
                         font-size:16px;
                         strong{
                             font-size: 20px;
                             color:#333;
                         }
                     }
                 }
                 .settle{
                     display: block;
                     width: 129px;
                     height: 54px;
                     font-size: 14px;
                 }
            }

        }
    }
    .cart_btinfo{
        margin-bottom: 20px;
          text-align: right;
          line-height: 22px;
          border-bottom: 1px solid #d9d9d9;
          .cart_bz{
              i{
                  margin-left: 10px;
                  display: inline-block;
                  height: 16px;
                  width: 18px;
                  vertical-align: middle;
                  background: url(../image/shopcart-sprite-v4.png) 0 0 no-repeat;
                  &.icon_thh{
                      background-position: 0 -18px;
                  }
                  &.icon_bcj{
                      background-position: 0 -38px;
                  }
              }
          }
    }
}
